[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch-summary = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
py-progress = "*"

[dev-packages]

[requires]
python_version = "3.9"
