anyio==2.0.2
apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
argon2-cffi==20.1.0
asn1crypto==1.4.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
bandit==1.7.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
black==20.8b1
bleach==3.2.1
btrfsutil==5.10.1
CacheControl==0.12.6
cachetools==4.2.1
caffeine-ng==3.5.1
cffi==1.14.4
cfgv==3.2.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
coverage==5.3.1
cryptography==3.3.1
cssselect==1.1.0
cssutils==1.0.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
duplicity==0.8.16
emails==0.6
entrypoints==0.3
ewmh==0.1.6
fasteners==0.15
filelock==3.0.12
flake8==3.8.4
future==0.18.2
gestures==0.2.3
gitdb==4.0.5
GitPython==3.1.12
google-api-core==1.25.1
google-api-python-client==1.12.8
google-auth==1.25.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gufw==21.4.0
html5lib==1.1
httplib2==0.18.1
identify==1.5.13
idna==2.10
iniconfig==1.1.1
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyter-server==1.1.4
jupyterlab==3.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.0.0
kiwisolver==1.3.1
layoutswitcherlib==0.8.16
LibAppArmor==3.0.1
louis==3.16.0
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
msgpack==1.0.2
mypy-extensions==0.4.3
nbclassic==0.2.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netsnmp-python==1.0a1
nltk==3.5
nodeenv==1.5.0
notebook==6.1.6
npyscreen==4.10.5
numpy==1.20.1
oauth2client==4.1.3
opencv-python==4.5.1.48
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.19.1
pandas==1.2.0
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.8.1
pathspec==0.8.1
pbr==5.5.1
pep517==0.9.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pluggy==0.13.1
ply==3.11
pre-commit==2.10.1
premailer==3.7.0
progress==1.5
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.12.4
psutil==5.8.0
ptyprocess==0.7.0
pulsectl==20.5.1
pwquality==1.4.4
py==1.10.0
py-progress==0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
PyDrive==1.3.1
pyflakes==2.2.0
Pygments==2.7.3
PyGObject==3.38.0
pylama==7.7.1
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.17.3
pysmbc==1.0.23
pytest==6.2.2
pytest-cov==2.11.1
python-dateutil==2.8.1
python-libtorrent==1.2.11
python-xlib==0.29
pytz==2021.1
pyxdg==0.26
PyYAML==5.4.1
pyzmq==20.0.0
ranger-fm==1.9.3
regex==2020.11.13
reportlab==3.5.60
requests==2.25.1
requests-file==1.5.1
resolvelib==0.5.4
retrying==1.3.3
rsa==4.7
Send2Trash==1.5.0
setproctitle==1.2.2
six==1.15.0
smmap==3.0.5
sniffio==1.2.0
snowballstemmer==2.1.0
soupsieve==2.2
stevedore==3.3.0
team==1.0
terminado==0.9.2
testpath==0.4.4
tldextract==3.1.0
toml==0.10.2
torch==1.7.1+cpu
torchaudio==0.7.2
torchvision==0.8.2+cpu
tornado==6.1
tqdm==4.55.1
traitlets==5.0.5
typed-ast==1.4.2
typing-extensions==3.7.4.3
ueberzug==18.1.9
ufw==0.36
uritemplate==3.0.1
urllib3==1.26.3
validate==5.1.0.dev0
virtualenv==20.4.2
wcwidth==0.2.5
webencodings==0.5.1
